<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/abiabstimmung/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schüler verwalten</li>
  </ol>
</nav>

{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>Schüler</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/abiabstimmung/studentmanagement/addstudent" type="button" class="btn btn-primary align-self-center">+ Schüler hinzufügen</a>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vorname</th>
      <th scope="col">Abgestimmt</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.ID}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Forename}}</td>
      <td>{{this.voted}}</td>
      <td class="text-end">
        <a href="/abiabstimmung/studentmanagement/viewstudent/{{this.ID}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> Anschauen</a>
        <a href="/abiabstimmung/studentmanagement/editstudent/{{this.ID}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Bearbeiten</a>
        <a href="/abiabstimmung/studentmanagement/{{this.ID}}" type="button" class="btn btn-light btn-small" style="color:red;"><i class="bi bi-person-x"></i> Löschen</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>